body {
  font-family: "Roboto", sans-serif;
}
nav,
.sub-nav {
  display: flex;
}

nav {
  border-bottom: rgb(240, 240, 240) 2px solid;
  justify-content: space-between;
}

.sub-nav a {
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}

.logo img {
  height: 70px;
  width: 70px;
  margin-right: 50px;
}

.drop-down,
.about-us,
.trending,
.location {
  margin-right: 50px;
  padding-top: 1em;
}
.btn {
  border: none;
  background-color: blue;
  color: white;
  border-radius: 3px;
  padding: 6px 9px;
  font-size: 1em;
  margin: 1em;
}

.dropdown-menu {
  margin-top: 3.5em;
}

.dropdown-menu a {
  font-size: 15px;
}
