body {
  font-family: "Roboto", sans-serif;
}
nav,
.sub-nav {
  display: flex;
}

nav {
  margin: 20px;
  border-bottom: rgb(240, 240, 240) 2px solid;
  justify-content: space-between;
}
.sub-nav {
  padding-top: 30px;
}
.sub-nav a {
  font-size: 1.2em;
  text-decoration: none;
  color: black;
  border-bottom: 5px blue solid;
}

.logo img {
  height: 100px;
  width: 100px;
  margin-right: 50px;
}

.drop-down,
.about-us,
.trending, .location {
  margin-right: 50px;
}
.btn {
  border: none;
  background-color: blue;
  color: white;
  border-radius: 3px;
  padding: 6px 9px;
  margin: 40px;
  font-size: 1.1em;
}

.drop-down span {
  padding-left: 10px;
}
